<body>
  <div class="wrapper-masthead">
    <div class="container">
      <header class="masthead clearfix">
        <a href="/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

        <div class="site-info">
          <h1 class="site-name"><a href="/">{{ site.name }}</a></h1>
          <p class="site-description">{{ site.description }}</p>

          {% if site.countdown.activo %}
            <div id="countdown" style="margin-top:5px;"></div>
          {% endif %}
        </div>


        <nav id="nav-list">
          <a href="/">Inicio</a>
          <a href="/noticias">Noticias</a>
          <a href="/directo">Directo</a>
          <a href="/horarios">Horarios</a>
          <a href="/podcast">Podcast</a>
          <a href="/contacto">Contacto</a>
          <a href="/acercade">Acerca de...</a>
          <a href="/deja-tu-audio">Envíanos tu audio</a>
        </nav>
      </header>
    </div>
  </div>

  <div id="main" role="main" class="container">
    {{ content }}
  </div>

  <div class="wrapper-footer">
    <div class="container">
      <footer class="footer">
        {% include links.html type="footer" %}
      </footer>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

  {% if site.countdown.activo %}
    {% include countdown.html %}
  {% endif %}
</body>
