{% if page.youtube.id or include.id %}
{% if include.width or site.video.width and include.height or site.video.height %}
<iframe width="{% if include.width and include.height %}{{ include.width }}{% else %}{{ site.video.width }}{% endif %}" height="{% if include.height and include.width %}{{ include.height }}{% else %}{{ site.video.height }}{% endif %}" src="https://www.youtube.com/embed/{% if include.id %}{{ include.id }}{% else %}{{ page.youtube.id }}{% endif %}{% if include.h or include.m or include.s or page.youtube.start %}{% if include.h or include.m or include.s %}?start={{ include.h | times: 60 | plus: include.m | times: 60 | plus: include.s }}{% else %}{% unless include.id != page.youtube.id and include.id %}?start={{ page.youtube.start.h | times: 60 | plus: page.youtube.start.m | times: 60 | plus: page.youtube.start.s }}{% endunless %}{% endif %}{% endif %}" frameborder="0" allowfullscreen></iframe>
{% endif %}
{% endif %}
